# export CREDENTIALS_PATH="${GOOGLE_CREDENTIALS_PATH}"
# These come from terraform output in the terraform fixtures
export SERVICE_ACCOUNT_JSON="$(<~/.credentials/forseti-sa.json)"
export PROJECT_ID='cicd-glarizza-ci-forseti'
export GSUITE_ADMIN_EMAIL='admin@phoogle.net'
export NETWORK_PROJECT='ci-forseti-host-b712'
export NETWORK='network-01'
export SUBNETWORK='us-central1-01'
export ENFORCER_PROJECT='ci-forseti-enforcer-f5f8'
export ORG_ID="826592752744"
export DOMAIN="phoogle.net"

